In [1]:
import matplotlib.pyplot as plt
import platform
platform.system()

if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정
plt.rc('axes', labelsize=30)   # x,y축 label 폰트 크기


# 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:/Users/wjddu/git/knuteam/22.csv", parse_dates=['num'], index_col='num', encoding='utf-8')

    저항(ahm)  용량(W)  오차율(%)
num
1         1   0.25     1.0
2         1   0.25     5.0
3       4.7   0.25     5.0
4       5.6   0.25     5.0
5        10   0.25     1.0
..      ...    ...     ...
100    1.5M   0.25     5.0
101      2M   0.25     5.0
102    4.7M   0.25     5.0
103    5.1M   0.25     5.0
104   (시)30  10.00     NaN

[104 rows x 3 columns]

In [8]:
value = df.iloc[0]

print(df.iloc[0])

저항(ahm)       1
용량(W)      0.25
오차율(%)      1.0
Name: 1, dtype: object